.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 8;
  margin: 0 30px;
  background-color: #24292e;
  position: relative;
  width: 85%;
}
.container{
  width: inherit;
}

.fullScreenBackground {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: black;
  opacity: 0.5;
  display: none;
  position: fixed;
}

.input {
  width: calc(90% - 50px);
  z-index: 7;
  outline: none;
  border: none;
  margin-left: 10px;
  padding: 30px;
  background-color: #24292e;
  font-size: 16px;
  color: rgb(233, 229, 229);
}

.img {
  margin-left: 20px;
  z-index: 9;
  cursor: pointer;
}

.closeButton{
  z-index: 9;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
}

.popup{
  position: absolute;
  top: 100%;
  height: fit-content;
  width: 100%;
  border-top: white solid 5px;
  background-color: #24292e;

}