.page {
  width: 100vw;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  align-items: center;
  height: 100vh;
}

.bgImg {
  z-index: -1;
}

.title {
  display: inline;
  width: fit-content;
  text-decoration: underline;
  color: whitesmoke;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  margin: auto;

}

.bgColor {
  z-index: 0;
  background-color: rgba(59, 59, 59, 0.65);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
