.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  margin-bottom: 40px;
}

.movieImgContainer {
  position: relative;
}

.voteAverage {
  color: black;
  bottom: 20px;
  right: 10px;
  position: absolute;
}

.title {
  color: white;
  max-width: 160px;
}

.titleBar{
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
.plusButton:hover{
  cursor: pointer;
  transform: scale(1.7);
}