.titleSm {
  color: white;
  height: 40px;
  margin-left: 3px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.titleMd {
  margin-left: 3px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}


.textSm {
  font-size: 10px;
  color: black;
}
