.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
}


@media screen and (max-width: 550px) {
  .container {
    flex-direction: column;
  }
}
