.page {
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  align-items: center;
  height: 100vh;

}
.bgImg {
  z-index: -1;
}

.bgColor {
  z-index: 0;
  background-color: rgba(59, 59, 59, 0.65);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
